.dpn { display: none !important; }
.pointer { cursor: pointer; }
.no-drag { -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select: none; }