header {
    margin: 20vh auto;
    text-align: center;
}

main {
    text-align: center;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0;
    padding: 0.5rem 1rem;

    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: auto;
    border: 1px;
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    background: var(--button-bg-color);
    color: var(--button-color);
    transition: 0.5s;
}

button.success {
    --button-bg-color: #28a745;
    --button-hover-bg-color: #218838;
    --button-color: white;
}

button:hover {
    background: var(--button-hover-bg-color);
    outline: 0;
}