header {
    margin: 20vh auto 20vh;
}

body,
#tutorial,
#gray-panel,
image {
    margin: 0px;
    width: 100%;
    height: 100%;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    overflow: hidden;
}

.center {
    display: block;
    margin: auto;
}


.tutorial_alert {
    margin-top: 30vh;
    width: 300px;
    height: 250px;
}

.btn-xl {
    margin: 10px 10px;
    width: 48px;
    height: 48px;
    padding: 5px 5px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 24px;
    position: relative;
}

.items {
    width: 100%;
    height: 20vh;
    padding: 5px;
}

.items img,
h3 {
    display: inline;
}

.items p {
    display: block;
}


.widgets {
    z-index: 5000;
    position: absolute;
}

button,
button:focus {
    outline: 0px !important;
    -webkit-appearance: none;
}

#resize-handler {
    position: absolute;
    z-index: 10003;
    width: 100px;
    height: 100px;
    background-color: rgba(127, 127, 127, 0.8);
    display: none;
    transition: background 0.1s linear;
}


#sidebar {
    z-index: 10006;
    position: fixed;
    left: 102vw;
    width: 25vw;
    height: 100%;
    transition: left 0.2s ease, visibility 0.2s ease;
    overflow-y: scroll;
    background-color: white;
    visibility: hidden;
    -moz-box-shadow: -1vw 0px 3vw 0px #0000006e;
    -webkit-box-shadow: -1vw 0px 3vw 0px #0000006e;
    box-shadow: -1vw 0px 3vw 0px #0000006e;
}

#sidebar.show {
    left: 75vw;
    visibility: visible;
}

#contents-area div:nth-child(even) {
    background-color: #efefef;
}

#contents-area div:nth-child(odd) {
    background-color: #dcdcdc;
}

#contents-area small {
    color: gray;
}


#background-images {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.4;
    z-index: 0;
    background-size: 100%;
    background-repeat: no-repeat;
}

#contents #sheet {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#menu {
    z-index: 10004;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: left 0.4s ease, top 0.4s ease, opacity .3s ease;
}

#menu.hide {
    top: -110px;
}

#menu.save {
    left: -68px;
}

#menu.edit {
    
}

#menu.out.show.save {
    opacity: 0;
    transition: left 0.4s ease, top 0.4s ease, opacity 1.5s linear;
}

#menu.mouse-out {
    /* transition-property: top, left, opacity;
    transition-duration: 0.4s, 0.4s, 5s; */
}

#tutorial {
    z-index: 10;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
}

#gray-panel {
    z-index: 6;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    background-color: rgba(175, 175, 175, 0.6);
}

#new-logo {
    margin-top: 20px;
}

#remove-icon {
    float: right;
    padding-top: 5px;
    padding-right: 5px;
}

#dropdown-category {
    width: 97px !important;
}

#sidebar-menu {
    width: 25vw;
    background-color: white;
    position: fixed;
    top: 0;
}


#widgetList {
    padding-top: 97px;
}